html, body{
    height: 100vh;
    overflow: hidden;
    cursor: default;
    text-rendering: optimizeLegibility;
    
    font-family: 'Gentium Basic', serif;
}

.container{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 70%;
    max-width: 50em;
    margin: 0 auto;
}

.enlaces {
    display:inline;
}

a {
    color: #f1c40f;
}

a:hover {
    color: #f39c12;
}

section {
    display: block;
    
    font-size: 1.7em;
    font-weight: 400;
    line-height: 1.5em;       
}

@media (max-width: 460px) { 
    
    .enlaces {
        text-align: center;
        display: block;
    }
        
    .content{
        margin: 10px;
        font-size: 1.2em;
    }    
    
    .reel {
        width: 540px;
    }
    
    .link {
        padding-left: 10px;
    }
    
    }
